<div class="row my-4">
    <div class="col-12 col-sm-6 text-center text-sm-start">
        <h5 class="mb-0">
            <a [routerLink]="['/']" class="text-white text-decoration-none">
                Antoine Navette
            </a>
        </h5>
    </div>
    <div class="col-12 col-sm-6 text-center text-sm-end">
        <a
            href="https://github.com/Antoine-NVE"
            target="_blank"
            class="text-white me-2"
        >
            <i class="fa fa-github"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/antoine-navette-b25b96259/"
            target="_blank"
            class="text-white ms-2"
        >
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
    </div>
</div>
