.overflow-y-auto {
    aspect-ratio: 1.98;
}

.carousel-control-prev,
.carousel-control-next {
    width: 12.5%;
}

@media screen and (min-width: 576px) {
    .overflow-y-auto {
        aspect-ratio: 2;
    }

    .modal-dialog {
        max-width: 75%;
    }
}
