/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
    color: white;
    font-family: "Heebo", sans-serif;
}

body {
    background: rgb(21, 21, 21);
}

p {
    color: rgb(176, 176, 176);
}
