<section
    class="row d-flex align-items-center m-0 my-4 flex-column-reverse flex-md-row"
>
    <div class="col-12 col-md-8">
        <h2 class="text-center text-md-start">Moi</h2>
        <p class="text-center text-md-start mb-0">
            Après ma reconversion dans le développement web, je suis désireux
            d'approfondir mes compétences dans ce domaine en constante
            évolution. Mon objectif premier est de devenir développeur fullstack
            afin d'avoir une vision globale de tous les aspects du développement
            web, avant de me spécialiser dans un domaine spécifique.
        </p>
    </div>
    <div class="col-12 col-md-4">
        <img src="assets/img/Antoine.jpg" alt="Antoine" class="p-2 w-100" />
    </div>
</section>
<hr />
<section>
    <h2>Mes projets</h2>
</section>
