<section class="row d-flex align-items-center flex-column-reverse flex-md-row">
    <div class="col-12 col-md-8">
        <h2 class="text-center text-md-start">Présentation</h2>
        <p class="text-center text-md-start mb-0">
            J'ai débuté mon apprentissage du développement web en autodidacte, en me familiarisant avec les langages de base du front-end. Par la suite, j'ai
            suivi une formation qui m'a permis de consolider mes compétences existantes et d'en acquérir de nouvelles, notamment en back-end. Désormais, je
            souhaite approfondir ces compétences pour déterminer vers quelles technologies me spécialiser.
        </p>
    </div>
    <div class="col-12 col-md-4">
        <img src="assets/img/Antoine.jpg" alt="Antoine" class="p-2 w-100 rounded-circle" />
    </div>
</section>
<hr />
<section class="row">
    <h2>Mes projets</h2>
    <div class="col-12 col-md-6 col-xl-4 mb-3" *ngFor="let project of projects">
        <div class="card bg-dark">
            <img [src]="project.images[0]" class="card-img-top" [alt]="project.title" />
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">
                    <span *ngFor="let techno of project.technologies; let i = index"> {{ techno }}{{ i + 1 < project.technologies.length ? " - " : "" }} </span>
                </p>
                <a [routerLink]="project.slug" class="btn btn-info">Détails</a>
            </div>
        </div>
    </div>

    <h4 class="text-end">A suivre...</h4>
</section>
